extends layout

block content 
  table#level2  
    tr
      td#bQV0.volume
      td#bTV0.volume
      td#bP0.price
      td#s0.spread
      td#aP0.price
      td#aTV0.volume
      td#aQV0.volume
    tr
      td#bQV1.volume
      td#bTV1.volume
      td#bP1.price
      td#s1.spread
      td#aP1.price
      td#aTV1.volume
      td#aQV1.volume
    tr
      td#bQV2.volume
      td#bTV2.volume
      td#bP2.price
      td#s2.spread
      td#aP2.price
      td#aTV2.volume
      td#aQV2.volume
    tr
      td#bQV3.volume
      td#bTV3.volume
      td#bP3.price
      td#s3.spread
      td#aP3.price
      td#aTV3.volume
      td#aQV3.volume
    tr
      td#bQV4.volume
      td#bTV4.volume
      td#bP4.price
      td#s4.spread
      td#aP4.price
      td#aTV4.volume
      td#aQV4.volume
    tr
      td#bQV5.volume
      td#bTV5.volume
      td#bP5.price
      td#s5.spread
      td#aP5.price
      td#aTV5.volume
      td#aQV5.volume
    tr
      td#bQV6.volume
      td#bTV6.volume
      td#bP6.price
      td#s6.spread
      td#aP6.price
      td#aTV6.volume
      td#aQV6.volume
    tr
      td#bQV7.volume
      td#bTV7.volume
      td#bP7.price
      td#s7.spread
      td#aP7.price
      td#aTV7.volume
      td#aQV7.volume
    tr
      td#bQV8.volume
      td#bTV8.volume
      td#bP8.price
      td#s8.spread
      td#aP8.price
      td#aTV8.volume
      td#aQV8.volume
    tr
      td#bQV9.volume
      td#bTV9.volume
      td#bP9.price
      td#s9.spread
      td#aP9.price
      td#aTV9.volume
      td#aQV9.volume
    tr
      td#bQV10.volume
      td#bTV10.volume
      td#bP10.price
      td#s10.spread
      td#aP10.price
      td#aTV10.volume
      td#aQV10.volume
    tr
      td#bQV11.volume
      td#bTV11.volume
      td#bP11.price
      td#s11.spread
      td#aP11.price
      td#aTV11.volume
      td#aQV11.volume
    tr
      td#bQV12.volume
      td#bTV12.volume
      td#bP12.price
      td#s12.spread
      td#aP12.price
      td#aTV12.volume
      td#aQV12.volume
    tr
      td#bQV13.volume
      td#bTV13.volume
      td#bP13.price
      td#s13.spread
      td#aP13.price
      td#aTV13.volume
      td#aQV13.volume
    tr
      td#bQV14.volume
      td#bTV14.volume
      td#bP14.price
      td#s14.spread
      td#aP14.price
      td#aTV14.volume
      td#aQV14.volume
    tr
      td#bQV15.volume
      td#bTV15.volume
      td#bP15.price
      td#s15.spread
      td#aP15.price
      td#aTV15.volume
      td#aQV15.volume
    tr
      td#bQV16.volume
      td#bTV16.volume
      td#bP16.price
      td#s16.spread
      td#aP16.price
      td#aTV16.volume
      td#aQV16.volume
    tr
      td#bQV17.volume
      td#bTV17.volume
      td#bP17.price
      td#s17.spread
      td#aP17.price
      td#aTV17.volume
      td#aQV17.volume
    tr
      td#bQV18.volume
      td#bTV18.volume
      td#bP18.price
      td#s18.spread
      td#aP18.price
      td#aTV18.volume
      td#aQV18.volume
    tr
      td#bQV19.volume
      td#bTV19.volume
      td#bP19.price
      td#s19.spread
      td#aP19.price
      td#aTV19.volume
      td#aQV19.volume
      
  table#volume
    tr 
      td#bVol0.volume
      td#price0.price
      td#aVol0.volume
    tr 
      td#bVol1.volume
      td#price1.price
      td#aVol1.volume
    tr 
      td#bVol2.volume
      td#price2.price
      td#aVol2.volume
    tr 
      td#bVol3.volume
      td#price3.price
      td#aVol3.volume
    tr 
      td#bVol4.volume
      td#price4.price
      td#aVol4.volume
    tr 
      td#bVol5.volume
      td#price5.price
      td#aVol5.volume
    tr 
      td#bVol6.volume
      td#price6.price
      td#aVol6.volume
    tr 
      td#bVol7.volume
      td#price7.price
      td#aVol7.volume
    tr 
      td#bVol8.volume
      td#price8.price
      td#aVol8.volume
    tr.midline
      td#bVol9.volume
      td#price9.price
      td#aVol9.volume
    tr 
      td#bVol10.volume
      td#price10.price
      td#aVol10.volume
    tr 
      td#bVol11.volume
      td#price11.price
      td#aVol11.volume
    tr 
      td#bVol12.volume
      td#price12.price
      td#aVol12.volume
    tr 
      td#bVol13.volume
      td#price13.price
      td#aVol13.volume
    tr 
      td#bVol14.volume
      td#price14.price
      td#aVol14.volume
    tr 
      td#bVol15.volume
      td#price15.price
      td#aVol15.volume
    tr 
      td#bVol16.volume
      td#price16.price
      td#aVol16.volume
    tr 
      td#bVol17.volume
      td#price17.price
      td#aVol17.volume
    tr 
      td#bVol18.volume
      td#price18.price
      td#aVol18.volume
    tr 
      td#bVol19.volume
      td#price19.price
      td#aVol19.volume


  
block scripts
  script(src='/js/userEvents.js')
  script(src='/js/colors.js')
  script(src='/js/numeric.js')
  script(src='/js/tradebook.js')
  script(src='/js/userEvents.js')


  script(src='/js/volume.js')
  script(src='/js/level2.js')
  script(src='/js/timefn.js')
  script(src='/js/stream.js')

  script.
    const consolidator = new Consolidator(["#{ticker}"]);
