extends layout

block content 
  table#volume
    tr 
      td#bVol0.volume
      td#price0.price
      td#aVol0.volume
    tr 
      td#bVol1.volume
      td#price1.price
      td#aVol1.volume
    tr 
      td#bVol2.volume
      td#price2.price
      td#aVol2.volume
    tr 
      td#bVol3.volume
      td#price3.price
      td#aVol3.volume
    tr 
      td#bVol4.volume
      td#price4.price
      td#aVol4.volume
    tr 
      td#bVol5.volume
      td#price5.price
      td#aVol5.volume
    tr 
      td#bVol6.volume
      td#price6.price
      td#aVol6.volume
    tr 
      td#bVol7.volume
      td#price7.price
      td#aVol7.volume
    tr 
      td#bVol8.volume
      td#price8.price
      td#aVol8.volume
    tr.midline
      td#bVol9.volume
      td#price9.price
      td#aVol9.volume
    tr 
      td#bVol10.volume
      td#price10.price
      td#aVol10.volume
    tr 
      td#bVol11.volume
      td#price11.price
      td#aVol11.volume
    tr 
      td#bVol12.volume
      td#price12.price
      td#aVol12.volume
    tr 
      td#bVol13.volume
      td#price13.price
      td#aVol13.volume
    tr 
      td#bVol14.volume
      td#price14.price
      td#aVol14.volume
    tr 
      td#bVol15.volume
      td#price15.price
      td#aVol15.volume
    tr 
      td#bVol16.volume
      td#price16.price
      td#aVol16.volume
    tr 
      td#bVol17.volume
      td#price17.price
      td#aVol17.volume
    tr 
      td#bVol18.volume
      td#price18.price
      td#aVol18.volume
    tr 
      td#bVol19.volume
      td#price19.price
      td#aVol19.volume



  
block scripts
  script(src='/js/userEvents.js')
  script(src='/js/colors.js')
  script(src='/js/numeric.js')
  script(src='/js/tradebook.js')
  script(src='/js/userEvents.js')

  script(src='/js/volume.js')

